/*  Colors  
-------------------------------------------------------------- */

$background-general : rgb(255, 255, 255);
$heading-general : rgba(146, 185, 175, 1);
$main-general :  rgba(229, 238, 236, 1);
$black : rgb(0, 0, 0);

/*  Colors: Elements interaction  
-------------------------------------------------------------- */

$elem-general : rgba(146, 185, 175, 1);
$elem-hover : rgba(135, 135, 135, 1);



/*  Colors: Letting 
-------------------------------------------------------------- */

$letting-general: rgba(0, 0, 0, 1);
$letting-selected: rgba(146, 185, 175, 1);