/*  Colors  
-------------------------------------------------------------- */

$background-general : rgb(255, 255, 255);
$header-general : rgb(146, 185, 175);
$main-general : rgb(229, 238, 236);


/*  Colors: Elements interaction  
-------------------------------------------------------------- */

$elem-general : rgb(146, 185, 175);



/*  Colors: Letting 
-------------------------------------------------------------- */

$letting-general : rgb(0, 0, 0);
$letting-selected: #92B9AF;