/*  Colors  
-------------------------------------------------------------- */

$background-general : rgb(255, 255, 255);
$header-general : rgba(146, 185, 175);


/*  Colors: Elements interaction  
-------------------------------------------------------------- */

$btn-general : rgb(146, 185, 175);



/*  Colors: Letting 
-------------------------------------------------------------- */

$letting-general : rgb(0, 0, 0);