/*   Home & House Immobilien : Footer
-------------------------------------------------------------- */

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 60px;
    padding-left: 9.33%;
    padding-right: 8%;
    background-color: $background-general;
    &__item{
        &--text{
            @extend .font18;
            color: $black;
            line-height: 30px;
        }
    }
    &__item:nth-child(3){
        margin: 37.7px 0px;
    }
    &__item:nth-child(5){
        margin-top: 37.7px;
        margin-bottom: 54.32px;
    }
    &__totop{
        fill: $elem-general;
    }
    &__totop:hover{
        fill: $elem-hover;
    }
}

/*  Responisve Layout  
-------------------------------------------------------------- */

@media (min-width: 800px){

    .footer{
        flex-direction: row;
        justify-content: space-between;
        height: 311px;
        padding: 0px 7.74%;
        margin-top: 110px;
        &__item{
            position: relative;
            display: inline-block;
            width: 29.16%;
            margin-top: 16px;
            &--text{
                @extend .font18;
                line-height: 30px; 
            }
        }
        &__item:nth-child(1){
            margin-top: 21px;   
        }
        &__item:nth-child(2){
            li:nth-child(5){
            margin-top: 37.69px;
            }
        }
        &__item:nth-child(4){
            li:nth-child(4){
            margin-top: 37.69px;
            }
        }
        &__totop{
            position: relative;
            display: block;
            left: 93.15%;
            margin-top: -50px;
            margin-bottom: 51px;     
        }
    } 
}
