/*  Mobile First  
-------------------------------------------------------------- */

/*  Heading 
-------------------------------------------------------------- */
/* 
.hero-image{

    position: relative;
    display: inline-block;
    background-image: url("../../images/JPG/photo-1523217582562-09d0def993a6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  
  }
  
  .hero-text{
  
    position: relative;
    background-color: white;
    text-align: center;
    width: 100%;
    height: 118px;
  
  }
  
  */

  .heading{
  
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  
    &__picture{
  
      position: relative;
      width: 100%;
      height: 100%;
      
    }
  
    &__section{
  
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $background-general;
  
      width: 100%;
      height: 118px;
      
      &--title{
  
        @extend .font21;
        @extend .regular;
        line-height: 33px;
  
      }
  
    }
  
  }
  
  
/*  Main : Heading, Searchmodulation (Selects,Filter)
-------------------------------------------------------------- */
  
#main_estates{
  
  position: relative;
  display: block;
  background-color: $main-general;

}

.main_estates{

    &__heading{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 113px;
      padding-top: 40px;
      margin-bottom: 0px;    
      background-color: $main-general;
      &--title{
        @extend .font25;
      }
    }
    &__filter{
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0% 7.73%;
    }
    &__selects{
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: -15px;  
      &--select{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 50px;
        border-radius: 0px;
        border: 0px;
        cursor: pointer;
      }
      &--text{
        @extend .font16;
        position: relative;
        display: block;
        line-height: 80px;
        margin-bottom: -30px;
      }
    }
    &__setting{
      position: relative;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 50px;
      margin-top: 31px;
      &--text{
        @extend .font16;
        position: relative;
        display: inline-block;
        width: 30%;
        text-align: start;  
      }
      &--desktop{
        display: none;
      }
      &--text:nth-child(3){
        text-align: right;
      }
    }
    &__ruler{
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: $elem-general;
      width: 30%;
      height: 31px;
      border-radius: 50px;
      &--slider{
        height: 16px;
        width: 90%;
        background: $elem-general;       
        cursor: pointer;
        -webkit-appearance: none;
      }
    } 
    &__btn{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 50px;
      margin-top: 34px;  
      background-color: $elem-general;
      border: none;
      cursor: pointer;
      &--text{
        @extend .font16;
        color: $background-general;
      }    
    }
    &__btn:hover{
      background-color: $elem-hover;
    }
  &__options{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 35px;
    padding-bottom: 22px;
    border-bottom: 2px $elem-general solid;
    &--text{
      @extend .font22;
      color: $letting-selected;
      line-height: 80px;
    }
    &--iconlist{
      fill: $elem-general;
      cursor: pointer;
    }
    &--icontable{
      fill: $elem-hover;
      cursor: pointer;
    }
    &--iconlist:hover, .main_estates__options--icontable:hover{
      fill: $elem-hover !important;
    }
    &--iconlist{
      margin: 0px 20px;
    }
  }
}

input[type=range]::-moz-range-thumb{
  background: $background-general;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0px;
}

.visibility-tablet{
  display: none !important;
}

.visibility-desktop{
  display: none !important;
}

  /*  Main : Style SELECT Elements
  -------------------------------------------------------------- */
.main_estates__selects{
  select{
  
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  
    background-image: url(../images/SVG/Vector\ 2.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 20px;
    
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  
    option{
  
      background-color: $background-general;
      border-radius: 0px;
      border: 0px;
    
    }
  
  }
  
  select:focus{
  
    background-color: $background-general;
      
    border-radius: 0px;
    border: 0px;
  
  }
  
}
  
.main_estates__selects--select select::after{
  
  content: "";
  position: absolute;
    
  z-index: 1;
  transform: rotate(30deg);
  
}  
   
  
 /*  Main : Results (list or section)
  -------------------------------------------------------------- */
  
  
#result_estates{
  
  background-color: $main-general;
  
}
  
.result_estates{
  &__item-a{
    position: relative;
    display: none;
    width: 100%;
    padding: 0px 7.73%;
    padding-top: 43px;
    padding-bottom: 106px;
  }
  &__list{
    position: relative;
    display: block;
    &--entrytop{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &--entrytop .result_estates__list--title{
      color: $letting-selected;
    }
    &--entry{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 2px $elem-general solid;
    }
    &--entry a{
      text-decoration: none;
    }
    &--title, .result_estates__list--price{
      @extend .font16;
      line-height: 55px;
      color: $black;
    }
    &--svg{
      margin-left: 15px;
      fill: $elem-general;
    }
    &--svg:hover{
      fill: $elem-hover;
    }
  }
  &__item-b{
    @extend .result_estates__item-a;
    display: block;
    padding: 34px 7.73%;
    padding-bottom: 46px;
  }
  &__table{ 
    position: relative;
    display: flex;
    flex-direction: column; 
  }
  &__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    width: 100%;
    &--picture{
      position: relative;
      display: block;
      width: 100%;
      height: 165px;
      cursor: pointer; 
    }
  }   
  &__description{
    padding-top: 22px;
    &--text{
      @extend .font16;
      line-height: 30px;
      letter-spacing: -1.5%;
    }
    &--title{
      @extend .font20;
      line-height: 30px;
      cursor: pointer; 
    }
  } 
  &__btn{
    @extend .main_estates__btn;
    margin-top: 5px;
    &--text{
      @extend .font16;
      color: $background-general;
    }
  }    
  &__btn:hover{
    background-color: $elem-hover;
  } 
}   
  
  

  
/*  Responisve Design 
-------------------------------------------------------------- */
@media (min-width: 500px){

  .heading{   
  &__section{      
      height: 200px;
      &--title{
        @include font28();
        line-height: 55px;      
      } 
    }
  }

  .main_estates__heading--title{
    @include font30();
  }
        
  .result_estates{
    &__item{
      &--picture{
        height: 230px;      
      } 
    }       
    &__description{   
      &--text{
        @include font18();    
      }  
      &--title{   
        @include font22();     
      }   
    }
  }
}

@media (min-width: 650px){

  .heading{
    &__section{   
      height: 200px;              
      &--title{    
        @include font40();
        line-height: 55px;    
      }
    } 
  }

  .main_estates__heading--title{
    @include font35();
  }

  .result_estates__item--picture{
    height: 300px;
  }
      
}

@media (min-width: 800px){

  .main_estates{
    &__heading{
      height: 176px;
      padding-top: 40px;
      margin-bottom: 26px;   
      &--title{
        @include font40();
      }
    }
    &__selects{
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      &--desktop{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 30%;
      }
      &--desktop:nth-child(4) label{
        margin-top: 21px;
      }       
      &--text{
        @include font18();
        margin-bottom: -15px;
      }
    }
    &__setting{
      width: 30%;
      margin-top: 65px;
      &--text{
        @include font18();       
      }
    }
    &__btn{
      width: 30%;    
      margin-top: 86px;    
      &--text{
        @include font18();
        color: $background-general;
      }    
    }
    &__options{
      margin-top: 136px;
      padding-bottom: 8px;
      height: 75px;
      &--text{
        @extend .font22;      
      }
    }
  } 

  .result_estates{
    &__item-b{
      padding-top: 34px;
      padding-bottom: 46px;
    }
    &__table{ 
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__item{
      width: 45%;
      margin-top: 0px;
      margin-bottom: 0px;
      &--picture{
        height: 165px;
      }
    }
    &__item:nth-child(1){
      margin-top: 0px;
    }    
    &__description{
      height: 190px;
      padding-top: 18px;
      margin-bottom: 40px;
      &--title{
        @include font28();
        line-height: 40px; 
      }
    }
    &__next{
      position: relative;
      justify-content: flex-end;
      align-items: center;
      margin-top: 35.2px;
      margin-bottom: 49px;
      line-height: 30px;
      cursor: pointer;
      &--text{
        color: $elem-general; 
      }
      &--svg{
        margin-left: 18px;
        stroke: $elem-general;
      }
    }
    /* 
    &__next--text:hover {
      color: $elem-hover;
    }*/
    &__next--svg:hover {
      stroke:  $elem-hover;
    }
  } 
  
  .visibility-tablet{
    display: flex !important;
  }

  .visibility-mobile{
    display: none !important;
  }


}

@media (min-width: 950px){

  .heading{      
    &__section{    
      height: 300px;      
      &--title{   
        @include font56();
        line-height: 80px;
      }    
    }      
  } 

  .main_estates{
    &__selects{        
      &--text{
        @include font22();
      }
    }
    &__setting{
      &--text{
        @include font22();       
      }
    }
    &__btn{   
      &--text{
        @include font22();
      }    
    }
  }

  .result_estates{
    &__item{
      &--picture{
        height: 220px;
      }
    }
  }

} 

@media (min-width: 1150px){

  .result_estates{
    &__item{
      width: 300px;
      &--picture{
        height: 180px;
      }
    }
  } 

  .visibility-desktop{
    display: flex !important;
  }
}

  
@media (min-width: 1300px){

  .result_estates{
    &__item{
      width: 350px;
      &--picture{
        height: 200px;
      }
    }
  } 
} 

@media (min-width: 1450px){

  .result_estates{
    &__item{
      width: 380px;
      &--picture{
        height: 210px;
      }
    }
  } 
}
  
@media (min-width: 1550px){

  .result_estates{
    &__item{
      width: 414px;
      margin-bottom: 59px;
      &--picture{
        height: 230px;
      }
    }
    &__next{
      margin-top: 16.2px;
    }
    &__description{
      height: 177.5px;
      padding-top: 18px;
      margin-bottom: 40px;
      &--title{
        @include font28();
        line-height: 40px; 
      }
    }
  } 
}    
  