/*  Mobile First 
-------------------------------------------------------------- */
/*  Header - Navigation  
-------------------------------------------------------------- */

.nav{
  position: fixed;
  width: 100%;
  height: 76px;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__background{
    position: fixed;
    height: 76px;
    width: 100%;
    background-color: $heading-general;
    opacity: 0.85;
  }  
  &__logo{
    transform: scale(0.615);     
  }
  &__ham{
    display: inline-block;
    margin-right: 25px;
    fill: black;
    cursor: pointer;
    z-index: 1;
  }
  &__ham:hover{
    fill: $elem-hover;
  }
  &__close{
    display: none;
    margin-right: 25px;
    stroke: black;
    cursor: pointer;
    z-index: 1;
  }
  &__close:hover{
    stroke: $elem-hover;
  }
  &__select{
    display: none;
  }
}

.nav_menu{
  position: fixed;
  display: none;
  background-color: $elem-general;
  z-index: 11;
  width: 100%;
  height: 100vh;
  top: 75px;
  &__select-a{
    position: relative;
    list-style-type: none;
    padding-top: 80px;
    padding-bottom: 71px;
  }
  &__select-a > li:nth-child(2){
    margin: 12px 0;
  }
  &__select-b{
    position: relative;
    list-style-type: none;
  }
  &__select-b > li:nth-child(2){
    margin-top: 5px;
  }
  &__item{
    display: flex;
    justify-content: center;
    a{
      cursor: default; 
    }
    &--text{
      @extend .font35;
      @extend .regular;
      line-height: 52px;
      color: $letting-general;
      cursor: pointer;
    }
    &--text-small{
      @extend .font16;
      @extend .regular;
      line-height: 32px;
      color: $letting-general;
      cursor: pointer;
    }
  }
 
}

/*  Responisve Layout 
-------------------------------------------------------------- */
/*  Header - Navigation  
-------------------------------------------------------------- */

@media (min-width: 650px){

  .nav{
    height: 132px; 
    &__background{
      height: 132px;  
    } 
    &__logo{
      margin-left: 2.5%; 
      transform: scale(1);
      opacity: 1; 
    }
    &__ham{
      display: none !important; 
    }   
    &__close{
      display: none !important; 
    } 
    &__select{
      position: relative;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      list-style-type: none;
      margin-right: 2.5%;
      &--text{
        @include font22();
        font-style: normal;
        color: $letting-general;
        line-height: 27px;              
      }
    }
    &__item:nth-child(2){
      margin: 0% 30px;
    }
  }

  .nav_menu{
    display: none !important;
  }
}

