/*  Mobile First  
-------------------------------------------------------------- */




   
    


 
















/*  Heading 
-------------------------------------------------------------- */


  .heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 76px;
    &__picture{
      width: 100%;
      height: 100%;   
    }
    &__picture:nth-child(2){
      display: none;
    }
    &__section{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
     // width: 100%;
      height: 118px;

      background-color: $background-general; 
      &--title{
        @extend .font21;
        @extend .regular;
        line-height: 33px;
      } 
    }  
  }
  
/*  Main : Heading, Searchmodulation (Selects,Filter)
-------------------------------------------------------------- */
  
#main{
  display: block;
}

#main_estates{
  position: relative;
  display: block;
  background-color: $main-general;
}

.main_estates{
  &__heading{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 113px;
    padding-top: 40px;
      
    background-color: $main-general;
    &--title{
      @extend .font25;
    }
  }
  &__filter{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    padding-left: 8.8%;
    padding-right: 8.54%;
  }
  &__selects{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    &--input{
      height: 120px;
    }
    &--label{
      @extend .font16;
      display: block;
      margin-top: 3px;
      margin-bottom: -25px;
    }
  }
  &__select{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    &--main{
      position: relative;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      width: 100%;
      height: 50px;
      cursor: pointer;
    }
    &--text{
      display: inline-block;
      @extend .font18;
      margin-left: 16px;
      margin-top: 5px;
      margin-bottom: 4px;
    }
    &--svg{
      stroke: $svg-general;
      margin: 5px 20px;
    }
    &--svg:hover{
      stroke: $elem-hover;
    }
    &--dropdown{
      position: absolute;
      display: none;//inline-flex;
      flex-direction: column;
      width: 100%;
      margin-top: 50px;
      z-index: 1;
      cursor: pointer;
      overflow: hidden;
    }
    &--item{
      @extend .main_estates__select--main;
    }
    &--item:hover{
      background-color: $elem-hover;
    }
    &--textdropdown{
      @extend .main_estates__select--text;
    }
    
  }    
  &__setting{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 46px;
    &--text{
      @extend .font16;
      position: relative;
      display: inline-block;
      width: 30%;
      text-align: start;  
    }
    &--text:nth-child(3){
      color: $letting-selected;
    }
    &--desktop{
      display: none;
    }
    &--text:nth-child(3){
      text-align: right;
    }
  }
  &__ruler{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $elem-general;
    width: 30%;
    height: 31px;
    border-radius: 50px;
    &--slider{
      height: 16px;
      width: 90%;
      background: $elem-general;       
      cursor: pointer;
      -webkit-appearance: none;
    }
  } 
  &__btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // width: 100%;
    height: 50px;
    margin-top: 41px;
    margin-right: 1.86%;  
    background-color: $elem-general;
    border: none;
    cursor: pointer;
    &--text{
      @extend .font16;
      color: $background-general;
    }    
  }
  &__btn:hover{
    background-color: $elem-hover;
  }
  &__options{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;  
    margin-top: 35px;
    padding-bottom: 22px;
    border-bottom: 2px $elem-general solid;
    &--text{
      @extend .font22;
      color: $letting-selected;
      line-height: 40px;
    }
    &--iconlist{
      fill: $elem-general;
      cursor: pointer;
    }
    &--icontable{
      fill: $elem-hover;
      cursor: pointer;
    }
    &--iconlist:hover, .main_estates__options--icontable:hover{
      fill: $elem-hover !important;
    }
    &--iconlist{
      margin: 0px 20px;
    }  
  }
}

input[type=range]::-moz-range-thumb{           
  background: $background-general;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: $background-general;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0px;
}

 /*  Main : Estates Results (list or section)
  -------------------------------------------------------------- */
  
#result_estates{
  background-color: $main-general;
}
  
.result_estates{
  &__item-a{
    position: relative;
    display: none;
    width: 100%;
    padding-left: 8.8%;
    padding-right: 8.54%;
    padding-top: 43px;
    padding-bottom: 106px;
  }
  &__list{
    position: relative;
    display: block;
    &--entrytop{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &--entrytop .result_estates__list--title{
      color: $letting-selected;
    }
    &--entry{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 2px $elem-general solid;
     // cursor: pointer;
    }
    &--entry a{
      text-decoration: none;
    }
    &--title{
      @extend .font16;
      line-height: 55px;
      color: $black;
    }
    &--text{
      @extend .result_estates__list--title;
    }
    &--svg{
      margin-left: 15px;
      fill: $elem-general;
      cursor: pointer;
    }
    &--svg:hover{
      fill: $elem-hover;
    }
  }
  &__item-b{
    @extend .result_estates__item-a;
    display: block;
    padding-left: 8.8%;
    padding-right: 8.54%;
    padding-top: 34px;
    padding-bottom: 46px;
  }
  &__animation{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 200px;
    margin-bottom: 34px;
    &--circle{
      position: relative;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      animation: rotatecircle 1.4s infinite linear;
      background: linear-gradient(90deg, rgba(208,225,221,1) 26%, rgba(99,156,142,1) 100%);
    }
    &--circle:before {
      width: 50%;
      height: 50%;
      background: $main-general;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    &--circle:after {
      background: $main-general;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    } 
  }
  &__table{ 
    position: relative;
    display: flex;
    flex-direction: column; 
  }
  &__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    width: 100%;
    &--picture{
      position: relative;
      display: block;
      width: 100%;
      height: 165px;
      cursor: pointer; 
    }
  }   
  &__description{
    padding-top: 24px;
    height: 172px;
    &--text{
      @extend .font16;
      line-height: 30px;
      letter-spacing: -1.5%;
    }
    &--title{
      @extend .font20;
      line-height: 30px;
      cursor: pointer; 
    }
  } 
  &__btn{
    @extend .main_estates__btn;
    width: 100%;
    margin-top: -3px;
    margin-right: 0%;
    @extend .font16;
    color: $background-general;
  }    
  &__btn:hover{
    background-color: $elem-hover;
  } 
}   
  
@keyframes rotatecircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*  Main : Estate Details View
-------------------------------------------------------------- */

#main_details{
  display: none;
}

#estate_details{
  position: relative;
  display: block;
  padding-top: 76px;
  padding-bottom: 48px;
  background-color: $main-general;
  overflow: hidden;
}
.estate_details{
  &__contact{
    position: absolute;
    display: block;
    width: 100%;
    left: -100%;
    top: 76px;
    padding: 0px 6.93%;
    padding-top: 27px;
    padding-bottom: 100px;
    background-color: $elem-general;
    z-index: 1;
    transition: left 2s linear;
    &--toright{
      left: 0% !important;
    }
    &--close{
      display: block;
      position: relative;
      left: calc(100% - 32px);
      stroke: $black;
    }
    &--close:hover{
      stroke: $elem-hover;
    }
    &--heading{
      height: 92px;
      margin-top: 52px;
      p{
        @extend .font26;
        line-height: 32px;
      }
    }
    &--inputs{
      margin-top: 34px;
    }
    &--item{
      position: relative;
      display: flex;
      flex-direction: column;
      height: 91px;
      input[type="text"], input[type="number"], input[type="email"], textarea{ 
        outline: none;
        border: none;
        font-family: 'Montserrat';
        @extend .font16;
        @extend .regular;
      }
      input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, textarea:focus{
        border: 2px $elem-hover solid;
      }
    }
    &--item:nth-child(4){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .estate_details__contact--label:nth-child(1){
        width: 40.25%;
      }
      .estate_details__contact--label:nth-child(2){
        width: 51.7%;
      }
      .estate_details__contact--input:nth-child(3){
        width: 40.25%;
        height: 50px;
      }
      .estate_details__contact--input:nth-child(4){
        width: 51.7%;
        height: 50px;
      }
    }
    &--item:nth-child(4), .estate_details__contact--item:nth-child(6){
      input[type=number]{
        -moz-appearance: textfield;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button{
        -webkit-appearance: none;
      }
    }
    &--item:nth-child(7){
      width: 100%;
      height: 204px;
      margin-top: 35px;
    }
    &--item:nth-child(8){
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;
      margin-top: 37px;
      p{
        @extend .font16;
        margin-left: 19px;
      }
    }
    &--item:nth-child(9){
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;
      margin-top: 30px;
      p{
        @extend .font16;
        margin-left: 19px;
      }
    }
    &--textfield{
      height: 163px;
      resize: none;
      overflow: auto;
    }
    &--label{
      @extend .font16;
      @extend .regular;
      line-height: 41px;
    }
    &--input{
      display: inline-block;
      height: 50px;
    }
    &--confirm{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: $background-general;
      cursor: pointer;
    }
    &--cross{
      display: none;
    }
    &--btn{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 51px;
      margin-top: 37px;
      @extend .bold;
      border: none;
      color: $white;
      background-color: $black;
    }
    &--btn:hover{
      background-color: $elem-hover;
    }
  }
  &__nav{
    display: flex;
    flex-direction: row;
    padding-left: 5.867%;
    &--svg{
      display: block;
      margin-top: 27px;
      line-height: 0px;
      stroke: $black;
    }
    &--svg:hover{
      stroke: $elem-hover;
    }
    &--text{
      display: none;
    }
  }
  &__goback:hover{
    stroke: $elem-hover;
  }
  &__heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 117.9px;
    margin-bottom: -29.31px;
    margin-top: 8.45px;
    &--text{
      @extend .font22;
    }
    &--text:nth-child(2){
      margin-left: 8px;
    }
  }
  &__slider{
    position: relative;
    margin: 0% 6.4%;
    &--left{
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: $background-general;
      opacity: 0.4;
      height: 100%;
      width: 28px;
    }
    &--right{
      @extend .estate_details__slider--left;
      right: 0px;
    }
    &--svg{
      position: absolute;
      stroke: $background-general;
      top: calc(50% - 11px);  
    }
    &--svg:hover{
      stroke: $black;
    }
    &--svg:nth-child(2){
      left: 8.5px;
    }
    &--svg:nth-child(4){
      right: 8.5px;
    }
    &--picture{   
      display: block;
      width: 100%;
      height: 226px;
    }
  }
  &__images{
    display: none;
  }
  &__description{
    margin-left: 6.4%;
    margin-top: 39.8px;
    &--title{
      @extend .font16;
      line-height: 28px;
    }
    &--text{
      @extend .estate_details__description--title;
    }
  }
  &__description li{
    margin-bottom: 26.45px;
  }
  &__description li:nth-child(5){
    padding-top: 6.67px;
    margin-bottom: 13.35px;
    p{
      width: 318px;
    }
  }
  &__description-tablet{
    display: none;
  }
  &__map{
    position: relative;
    display: block;
    height: 215px;
    background-color:black;
    margin-left: 5.867%;
    margin-right: 6.934%;
  }
  &__title{
    @extend .font16;
    height: 70px;
    padding-left: 6.4%;
    margin-top: 16px;
    margin-bottom: 13px;
    line-height: 26px;
  }
  &__btn{
    @extend .font16;
    display: block;
    width: 84.266%;
    height: 45px;
    margin-left: 6.4%;
    margin-right: 9.33%;
    line-height: 30px;
    background-color: $elem-general;
    color: $background-general;
    border: none;
  }
  &__btn:hover{
    background-color: $elem-hover;
  }
}

/*  Main : Estate Details: Actual Estates
-------------------------------------------------------------- */

#estates_actuals{
  background-color: $heading-general;
}
.estates_actuals{
  &__heading{
    position: relative;
    display: block;
    @extend .font25;
    text-align: center;
    padding-top: 31px;
    padding-bottom: 24.9px;
  }
  &__list{
    position: relative;
    display: block;
    margin: 0px 8.8%;
    &--picture{
      position: relative;
      display: block;
      width: 100%;
      height: 200px;
      cursor: pointer;
    }
    &--item:nth-child(2) .estates_actuals__description:nth-child(2){
      margin-bottom: 0px;
    }
    &--item:nth-child(3){
      display: none;
    }
  }
  &__description{
    height: 172px;
    margin-top: 15px;
    margin-bottom: 19px;
    &--text{
      @extend .font16;
      line-height: 30px;
    }
    &--title{
      line-height: 30px;
      cursor: pointer;
    }
  }
  &__all{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 0px 8.8%;
    margin-top: -15px;//-34px;
    padding-bottom: 50px;
    &--text{
      @extend .font18;
      line-height: 30px;
    }
    &--svg{
      stroke: $black;
      margin-left: 15px;
    }
    &--svg:hover{
      stroke: $elem-hover;
    }
  }
}

.visibility-tablet-small{
  display: none !important;
}

.visibility-tablet{
  display: none !important;
}

.visibility-desktop{
  display: none !important;
}  

/*  Responisve Design: Mobile - Tabletsmall - Tablet - Desktop
-------------------------------------------------------------- */
/*  Estates Main  - Tabletsmall
-------------------------------------------------------------- */
@media (min-width: 500px){

  .heading{   
  &__section{      
      height: 200px;
      &--title{
        @include font28();
        line-height: 55px;      
      } 
    }
  }

  .main_estates__heading--title{
    @include font30();
  }
        
  .result_estates{
    &__item{
      &--picture{
        height: 230px;      
      } 
    }       
    &__description{   
      &--text{
        @include font18();    
      }  
      &--title{   
        @include font22();     
      }   
    }
  }
}

@media (min-width: 650px){

  .heading{
    padding-top: 0px;
    &__picture:nth-child(1){
      display: none;
    }
    &__picture:nth-child(2){
      display: block;
    }
    &__section{   
      height: 200px;
      margin-bottom: 20px;               
      &--title{    
        @include font40();
        line-height: 55px;    
      }
    } 
  }

  .main_estates__heading--title{
    @include font35();
  }
  .result_estates__item--picture{
    height: 300px;
  }

  /* Estate Details View  - Tabletsmall
-------------------------------------------------------------- */

  #estate_details{
    padding-top: 132px;
    padding-bottom: 62px;
  }
  .estate_details{
    &__contact{
      top: 132px;
    }
    &__nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 40px;
      &--svg{
        margin-top: 0px;
      }
      &--text{
        display: inline-block;
        line-height: 30px;
        @include font18();
        margin-left: 23px;
      }
    }
    &__heading{
      height: 136px;
      margin-bottom: 6px;
      margin-top: 9px;
      &--text{
        @include font28();
      }
    }
    &__slider{
      position: relative;
      &--left{
        display: none;
      }
      &--right{
        display: none;
      }
      &--svg{
        display: none;  
      }
      &--picture{
        display: block;
        width: 100%;
        height: 304px;
      }
    }
    &__images{
      display: flex;
      flex-direction: row;
      margin-left: 6.4%;
      margin-top: 12px;
      &--image{
        display: inline-block;
        width: 115px;
        height: 70px;
        cursor: pointer;
      }
      &--image:nth-child(2){
        margin: 0px 13px;
      }
    }
    &__list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0% 6.4%;
    }
    &__description{
      display: inline-block;
      margin-top: 50px;
      margin-left: 0%;
      width: 276px;
      &--title{
        @include font18();
        line-height: 30px;
      }
      &--text{
        @include font18();
        line-height: 30px;
      }
      &--btn{
        display: block;
        @include font18();
        width: 317px;
        height: 45px;
        margin-top: 14px;
        line-height: 30px;
        background-color: $elem-general;
        color: $background-general;
        border: none;
      }
      &--btn:hover{
        background-color: $elem-hover;
      }
    }
    &__description-tablet{
      position: relative;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin-top: 50px;
      li{
        margin-bottom: 29px;
      }
    }
    &__description li:nth-child(4){
      margin-bottom: 29px;
    }
    &__description li:nth-child(5){
      display: none;
    }
    &__map{
      height: 300px;
    }
    &__title{
      display: none;
    }
    &__btn{
      display: none;
    }
  }

  .estates_actuals{
    &__heading{
     @include font30();
      padding-top: 40px;
      padding-bottom: 50px;
    }
    &__list{
      position: relative;
      display: block;
      margin: 0px 6.2%;
      &--picture{  
        width: 100%;
        height: 302px;
      }
      &--item:nth-child(2) .estates_actuals__description:nth-child(2){
        margin-bottom: 0px;
      }
    }
    &__all{
      margin: 0px 6.2%;
    }
    &__description{
      &--text{
        @include font18();
        line-height: 32px;
      }
      &--title{
        @include font18();
        line-height: 32px;
      }
    }
  }

  .visibility-tablet-small{
    display: block !important;
  }
     
}

@media (min-width: 800px){

 /* Estates Main - Tablet
-------------------------------------------------------------- */

  .main_estates{
    &__heading{
      height: 176px;
      padding-top: 40px;
      margin-bottom: 26px;   
      &--title{
        @include font40();
      }
    }
    &__filter{
      padding: 0px 7.74%;
    }
    &__selects{
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      &--input{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 31%; 
      }
      &--input:nth-child(4) label{
        margin-top: 21px;
      }       
      &--label{
        @include font18();
        margin-bottom: -15px;
      }
    }
    &__select{
      &--text{
        @include font13();

      }    
    }    
    &__setting{
      width: 31%; 
      margin-top: 65px;
      &--text{
        @include font18();       
      }
    }
    &__btn{
      width: 31%;     
      margin-top: 86px;    
      &--text{
        @include font18();
        color: $background-general;
      }    
    }
    &__options{
      margin-top: 136px;
      padding-bottom: 8px;
      height: 75px;
      &--text{
        @extend .font22;      
      }
    }
  } 

  .result_estates{
    &__animation{
      margin-top: 86px;
    }
    &__list{
      &--entrytop:nth-child(1){
        width: 40%;
      }
      &--entrytop:nth-child(2){
        width: 40%;
      }
      &--entrytop:nth-child(4){
        width: 25%;
        justify-content: flex-end;
      }
      &--entry > .result_estates__list--title{ 
          width: 40%;
        //  cursor: pointer;     
      }
      &--title{
        @include font18();
      }
      &--text:nth-child(2){
        width: 40%;
      }
      &--text:nth-child(4){
        width: 25%;
        text-align: right;
      }
    }  
    &__item-b{
      padding: 0px 7.74%;
      padding-top: 34px;
      padding-bottom: 0px;
    }
    &__tablenext{
      position: absolute !important;
      display: inline-flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap; 
      width: 83.2%;
      margin-left: 8.8%;
      margin-right: 8%;
   //   right: 0%;
    //  left: 110%;
      transition: all 2s linear;
    }
   
    &__table{ 
      position: relative;
      display: inline-flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      right: 0%;
      // left: 0%; // 110%;
      transition: all 2s linear;
      // transition: left 2s linear;
    }
    &__item{
      width: 45%;
      margin-top: 0px;
      margin-bottom: 0px;
      &--picture{
        height: 165px;
      }
    }
    &__item:nth-child(1){
      margin-top: 0px;
    }    
    &__description{
      height: 190px;
      padding-top: 18px;
      margin-bottom: 59.31px;
      &--title{
        @include font28();
        line-height: 40px; 
      }
    }
    &__next{
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 102px;
      margin-top: 2.66px;
      line-height: 30px;
      &--item{ 
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      &--item:nth-child(1){
        visibility: hidden;
      }
      &--item:nth-child(2){
        cursor: pointer;
      }
      &--item:nth-child(2){
        left: 0.4167%;
      }
      &--text{
        color: $letting-selected; 
      }
      &--back{
        margin-right: 18px;
        transform: rotate(180deg);
        stroke: $elem-general;
      }
      &--back:hover{
        stroke:  $elem-hover;
      }
      &--forward{
        margin-left: 18px;
        stroke: $elem-general;
      }
      &--forward:hover{
        stroke:  $elem-hover;
      }
    }

  } 
  
/* Estate Detail View - Tablet
-------------------------------------------------------------- */

  .estate_details{
    &__contact{
      padding-top: 27px;
      padding-bottom: 100px;
      &--heading{
        p{
          @include font28();
          line-height: 32px;
        }
      }
      &--inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 34px;
      }
      &--item{
        width: 47.77%;
        height: 91px;
        input[type="text"], input[type="number"], input[type="email"], textarea{ 
          @include font18();
        }
      }
      &--item:nth-child(4){
        .estate_details__contact--label:nth-child(1){
          width: 31.41%;
        }
        .estate_details__contact--label:nth-child(2){
          width: 62.82%;
        }
        .estate_details__contact--input:nth-child(3){
          width: 31.41%;
        }
        .estate_details__contact--input:nth-child(4){
          width: 62.82%;
        }
      }
      &--item:nth-child(5){
        left: 52.23%;
      }
      &--item:nth-child(6){
        right: 52.23%;
      }
      &--item:nth-child(8), .estate_details__contact--item:nth-child(9){
        width: 29%;
        margin-top: 56px;
        p{
          @include font18();
          margin-left: 19px;
        }
      }
      &--item:nth-child(9){
        right: 5%;
      }
      &--label{
        @include font18();
      }
      &--btn{
        @include font18();
        width: 35%;
        height: 45px;
        margin-top: 58.5px;
      }
    }
  }

  .estates_actuals{
    &__heading{
     @include font30();
      padding-top: 40px;
      padding-bottom: 50px;
    }
    &__list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &--picture{ 
        width: 320px;
        height: 180px;
      }
    }
  }

  .visibility-tablet{
    display: flex !important;
  }

  .visibility-mobile{
    display: none !important;
  }

}

@media (min-width: 950px){

  .heading{      
    &__section{    
      height: 300px;
      margin-bottom: 30px;      
      &--title{   
        @include font56();
        line-height: 80px;
      }    
    }      
  } 

 /* Estates Main - Tablet
-------------------------------------------------------------- */

  .main_estates{
    &__selects{        
      &--label{
        @include font22();
      }
    }
    &__select{
      &--text{
        @include font16();
      }    
    }  
    &__setting{
      &--text{
        @include font22();       
      }
    }
    &__btn{   
      &--text{
        @include font22();
      }    
    }
  }

  .result_estates{
    &__item{
      &--picture{
        height: 220px;
      }
    }
  }

 /* Estate Detail View - Tablet
-------------------------------------------------------------- */

  .estate_details{
    &__nav{
      position: absolute;
      left: 44px;
    }
    &__heading{
      height: 136px;
      margin-top: 79px;
      &--text{
        @include font28();
      }
    }
    &__slider{
      margin-left: 15%;
      margin-right: 14.5%;
    }
    &__images{
      margin-left: 15%;
    }
    &__list{
      margin-right: 14.5%;
      margin-left: 15%;
    }
    &__description{
      width: 276px;
    }
    &__map{
      margin-left: 15%;
      margin-right: 14.5%;
    }
  } 

  .estates_actuals{
    &__heading{
     @include font30();
      padding-top: 40px;
      padding-bottom: 50px;
    }
    &__list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &--picture{ 
        width: 380px;
        height: 240px;
      }
    }
    &__all{
      padding-bottom: 97px;
    } 
  }

} 

 /* Estates Main - Desktop
-------------------------------------------------------------- */

@media (min-width: 1150px){


  .main_estates{
    &__select{
      &--text{
        @include font18();
      }    
    }
    &__selects--input{
      width: 29.16%;  
    }
    &__setting{
      width: 29.16%;
    }
    &__btn{
      width: 29.16%;       
    }
  }

  .result_estates{
    &__list{
      &--entrytop:nth-child(1){
        width: 30%;
      }
      &--entrytop:nth-child(2){
        width: 35%;
      }
      &--entrytop:nth-child(3){
        width: 15%;
        justify-content: flex-start;
      }
      &--entrytop:nth-child(4){
        width: 20%;
        justify-content: flex-end;
      }
      &--entry > .result_estates__list--title{ 
        width: 30%;    
      }
      &--title{
        @include font22();
      }
      &--text:nth-child(2){
        width: 35%;
      }
      &--text:nth-child(3){
        width: 15%;
      }
      &--text:nth-child(4){
        width: 20%;
        text-align: right;
      }
    }  
    &__item{
      width: 29.16%;
      &--picture{
        height: 180px;
      }
    }
  } 

  /* Estate Detail View - Desktop
-------------------------------------------------------------- */ 


  .estate_details{
    &__contact{
      left: -100%;
      padding: 0px 11.13%;
      padding-top: 47px;
      padding-bottom: 172px;
      &--close:nth-child(1){
        position: relative;
        left: calc(100% - 52px);
      }
      &--close:nth-child(2){
        display: none;
      }
      &--heading{
        height: 126px;
        margin-top: 11px;
        .estate_details__contact--text, .estate_details__contact--title{
          @include font33();
          line-height: 42px;
        }
      }
      &--inputs{
        margin-top: 23px;
      }
      &--item{
        input[type="text"], input[type="number"], input[type="email"], textarea{ 
          @include font22();
        }
      }
      &--item:nth-child(3), .estate_details__contact--item:nth-child(4),
      .estate_details__contact--item:nth-child(5), .estate_details__contact--item:nth-child(6){
        margin-top: 33px;
      }
      &--item:nth-child(7){
        margin-top: 25px;
      }
      &--item:nth-child(8), .estate_details__contact--item:nth-child(9){
        width: 30%;
        margin-top: 56px;
        p{
          @include font22();
          margin-left: 28px;
        }
      }
      &--item:nth-child(9){
        right: 12%;
      }
      &--label{
        @include font22();
      }
      &--btn{
        @include font22();
        width: 24.57%;
        margin-top: 55px;
      }
    }
    &__slider{
      margin-left: 23.035%;
      margin-right: 22.976%;
    }
    &__images{
      margin-left: 23.035%;
    }
    &__list{
      margin-left: 23.035%;
      margin-right: 23.512%;
    }
    &__description-tablet{
      width: 65%;
    }
    &__map{
      margin-left: 23.035%;
      margin-right: 22.976%;
    }
  }

  .estates_actuals{
    &__heading{
     @include font35();
      padding-top: 65px;
      padding-bottom: 85px;
    }
    &__list{
      &--picture{ 
        width: 100%;
        height: 200px;
      }
      &--item:nth-child(3){
        display: inline-block;
      }
    }
    &__all{
      margin: 0% 7.381%;
      padding-bottom: 106px;
      margin-top: 29px;
    }
  }

  .visibility-desktop{
    display: flex !important;
  }

}

  /* Estates Main - Desktop
-------------------------------------------------------------- */ 

@media (min-width: 1300px){

  .result_estates{
    &__item{
      &--picture{
        height: 200px;
      }
    }
  } 

 /* Estate Detail View - Desktop
-------------------------------------------------------------- */ 

  .estate_details{
    &__contact{
      &--item:nth-child(8), .estate_details__contact--item:nth-child(9){
        width: 23%;
      }
      &--item:nth-child(9){
        right: 16%;
      }
    }
  }

} 

  /* Estates Main - Desktop
-------------------------------------------------------------- */ 

@media (min-width: 1450px){

  .result_estates{
    &__item{
      &--picture{
        height: 210px;
      }
    }
  } 

 /* Estate Detail View - Desktop
-------------------------------------------------------------- */ 

  .estate_details{
    &__heading{
      &--text{
        @include font40();
      }
    }
    &__slider{
      &--picture{
        height: 504px;
      }
    }
    &__description{
      &--btn{
        @include font22();
        width: 414px;
      }
      &--btn:hover{
        background-color: $elem-hover;
      }
    }
    &__description-tablet{
      width: 524px;
    }
  }

  .estates_actuals{
    &__heading{
     @include font40();
    }
    &__list{
      margin-left: 7.97%;
      margin-right: 7.5%;
      &--picture{ 
        width: 380px;
        height: 229px;
      }
    }
    &__description{
      height: 172px;
      margin-bottom: 0px;
      &--text{
        @include font18();
        line-height: 30px;
      }
      &--title{
        @include font28();
        line-height: 40px;
      }
    }
  }

}

/* Estates Main - Desktop
-------------------------------------------------------------- */ 
  
@media (min-width: 1550px){

  .result_estates{
    &__item{
      &--picture{
        height: 230px;
      }
    }
    &__description{
      &--title{
        @include font28();
        line-height: 40px; 
      }
    }
  } 

  .estates_actuals{
    &__list{
      &--picture{ 
        width: 414px;
      }
    }
  }
}    
  