/*  Mobile First 
-------------------------------------------------------------- */
/*  Footer 
-------------------------------------------------------------- */

.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 7.73%;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: $background-general;
    &__logo{
        transform: scale(1.76);
        transform-origin: 0px 0px;
    }
    &__item{
        &--text{
            @extend .font18;
            color: $black;
            line-height: 30px;
        }
    }
    &__item li, a{
        list-style-type: none;
        text-decoration: none;
    }
    &__item:nth-child(3){
        margin: 30px 0px;
    }
    &__item:nth-child(4){
        margin-bottom: 30px;
    }
    &__totop{
        fill: $elem-general;
    }
    &__totop:hover{
        fill: $elem-hover;
    }
}

/*  Responisve Design  
-------------------------------------------------------------- */
/*  Footer 
-------------------------------------------------------------- */

@media (min-width: 800px){

    .footer{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 110px;
        &__item{
            position: relative;
            display: inline-block;
            width: 414px;
            height: 261px;
            border: 1px black solid;
            &--text{
                @extend .font18;
                color: $black;
                line-height: 30px; 
            }
        }
        &__item:nth-child(2) li:nth-child(5){
            margin-top: 30px;
        }
        &__item:nth-child(4) li:nth-child(4){
            margin-top: 30px;
        }
        &__item:nth-child(3){
            margin: 0px 0px;
        }
        &__item:nth-child(4){
            margin-bottom: 0px;
        }
        &__logo{
            position: relative;
            margin-right: 276.72px;    
        }
        &__totop{
            position: relative;
            display: block;
            left: calc(100% - 104px);
            margin-bottom: 51px;
        }
    } 
}


@media (min-width: 1000px){

   
}

